<span id="alert_message_component"></span>

<div id="layout_div">	
	<div id="head_div">
		<table class="table-layout" style="width:100%">
			<tr>	
				<td align="left">		
					<span id="user_simple_find"></span>											
				</td>					
				<td align="right">
					<table class="table-layout">
						<tr>
							<td><span id="lang_panel"></span></td>				
							<td><span id="head_menubar"></span></td>	
						</tr>		
					</table>								
				</td>				
			</tr>
		</table>
	</div>		
	<div id="center_div">
		<table id="center_table" class="table-layout"> 
			<tr>	
				<td id="leftpanel_td" align="left" valign="top">
					<span id="leftpanel"></span>
				</td>
				<td id="centerpanel_td" align="left" valign="top">
					<div id="north_div">				
						<span id="north"></span>
					</div>			
					<div id="top_div">
						<span id="top"></span>
					</div>
					<div id="content_div">
						<span id="content"></span>
					</div>
				</td>					
				<td id="rightpanel_td" align="left" valign="top">
					<span id="rightpanel"></span>
				</td>						
			</tr>
		</table>
	</div>
	<div id="south_div">
		<span id="south"></span>
	</div>
</div>
