
div#layout_div {
	position:relative;
	margin:auto;
	height:auto;
	width:auto;
	min-width: 780px;
	text-align:left;
}

div#head_div {
	text-align:right;
}

div#north_div {
	padding:10px 20px;
}

div#center_div {
	padding: 10px;	
}

div#center_div table#center_table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	padding:0;
}

div#content_div {
	padding:20px;
	min-height:600px;
}


div#south_div {	
	height:30px;
	padding:0 20px;
}

div#south_div .south-text {
	position:absolute; 
	font-size:small;
	margin-top:8px;
}
