
a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a:active {
	text-decoration:underline;
}

p a {
	
}

p a:hover {	
	text-decoration:underline;
}

p a:active {		
	text-decoration:underline;
}