@CHARSET "ISO-8859-1";

div#login_page {
	position:relative;
	margin:100px auto;
	width: 300px;
}


div#login_page input[type=text], div#login_page input[type=password] {
	width:250px;
}

div#login_page .button-panel {
	width: 256px; 
	text-align: right;
}

div#login_page .form-panel {	
	padding: 5px 25px;		
	background: #f6f6ff;
}
