@CHARSET "ISO-8859-1";

div#password_redefinition_page {
	position:relative;	
	margin:0 auto;
	max-width: 1000px;
}

.label, .field, .button-panel {
	margin: 5px 0;
}

div#password_redefinition_page .panel {
	position:relative;	
	margin:0 auto;	
	width:500px;	
}

div#password_redefinition_page .field {
	width: 400px;
}

div#password_redefinition_page .button-panel {
	width: 405px; 
	text-align: right;
}

div#password_redefinition_page .form-panel {
	padding: 10px 50px;		
}