@CHARSET "ISO-8859-1";

.contacts-panel-item, .contacts-panel-item a {
	background:#f9f9ff;
	color:#000; 
}

.contacts-panel-item:hover, .contacts-panel-item a:hover {
	background:#ACF;
	color:#FFF; 
}

.contacts-panel-item:active, .contacts-panel-item a:active {
	background:#DEF;
	color:#000; 
}


