
.submenu {
	background: #FFF;
	border: 1px solid #ACF;
	/*opacity:0.9;
	-moz-opacity:0.9;
	filter: alpha( opacity=90 );*/
}

.menu-label-content {

}

.menu-label, .menubar-label {
	
}

.menu-label-hover, .menubar-label-hover {
	color:#f6f6ff;
	background: #ACF;	
}

.menu-label-content-option:active, .menubar-label-content-option:active {
	color:#999;
	background: #f6f6ff;
}

